/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C4DAD2; /* Off-white background */
    color: #333333; /* Dark gray text for readability */
}

/* Navigation Bar */
header {
    background-color: #16423C; /* Teal for primary color */
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styling */
.section {
    padding: 2rem;
    margin: 1rem;
}

h2 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #343131; /* Teal for consistency */
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6A9C89; /* Yellow background similar to the uploaded banner */
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

/* Hover Effect */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* Card Text Styling */
.card .card-text {
    flex: 1;
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #1E201E;
}

/* Card Image Styling */
.card .card-details {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.card .card-details-people {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card-details img {
    max-width:300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.card .card-details-people img {
    max-width:300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card .card-details-people h3{
    margin-bottom:5px;
}
.card .card-details-people p{
    margin-top: 0px;
    margin-bottom:5px;
}

/* Hover Image Effect */
.card:hover .card-details img {
    transform: scale(1.1); /* Zoom effect */
}

/* Hover Image Effect */
.card:hover .card-details-people img {
    transform: scale(1.1); /* Zoom effect */
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .card .card-details img {
        max-width: 280px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 1rem;
    }

    .card .card-details img {
        max-width: 260px;
    }
}